@model IEnumerable<OdessaMasonFireworks.DATA.EF.Models.SaleProduct>

@{
    ViewData["Title"] = "SaleProducts";
}

<header class="py-3" style="background-image: url(/assets/fireworks.jpg); background-size: cover;">
    <div class="container px-4">
        <div class="text-center custom-gold">
            <h1 class="display-4 fw-bolder">SaleProducts</h1>
        </div>
    </div>
</header>

<div class="row">
    <div class="offset-3 col-md-6 mt-2">
        <div id="MessageContent" class="text-center"></div>
    </div>
</div>

<a class="offset-2 btn btn-warning btn-outline-dark my-2" asp-action="Create">Add New SaleProduct</a>

<div class="container mb-3">
    <table class="table table-hover" id="myTable">
        <thead>
            <tr>
                <th class="text-center">
                    Sale ID
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Product)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.SaleQuantity)
                </th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="text-center align-middle" id="SaleProducts-@item.SaleProductId">
                    <td>
                        @Html.DisplayFor(modelItem => item.Sale.SaleId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.ProductName)
                    </td>
                    <td> 
                        @Html.DisplayFor(modelItem => item.SaleQuantity)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.SaleProductId">Edit</a> |
                        <a data-ajax="true" data-ajax-confirm="Are you sure you want to delete SaleProduct #@item.SaleProductId?" data-ajax-failure="deleteFailed" data-ajax-success="deleteConfirmed" data-ajax-method="POST" href="~/SaleProducts/AjaxDelete/@item.SaleProductId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {

            <script>
                let table = new DataTable('#myTable');
            </script>
            <script>
                function deleteConfirmed(response, status, data) {
                    //Remove the category's row from the table
                    let rowId = "#SaleProducts-" + response.id;
                    console.log(rowId)
                    $("#myTable").find(rowId).remove();

                    //Display a status message
                    $("#MessageContent").html("<div class='alert alert-success'>" + response.message + "</div>");

                }

                function deleteFailed(response, status, data) {

                    //Display a status message
                    $("#MessageContent").html("<div class='alert alert-danger'>Delete unsuccessful.</div>");

                }
            </script>
}
